<!DOCTYPE html>
<html>
<head>
    <title>Personal Finance App</title>
    <!-- Include CSS and JavaScript links here -->
<link rel="stylesheet" type="text/css" href="static/css/styles.css">
<link rel="stylesheet" href="D:\personal_finance_app\static\js\scripts.js">

</head>
<body>
    <header>
        <!-- Header content here -->
    </header>
    
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    
    <footer>
        <!-- Footer content here -->
    </footer>
</body>
</html>
